@font-face {
    font-family: 'GothamPro';
    src: url('/fonts/GothamPro-Light.woff');
    font-weight: 300;
}

@font-face {
    font-family: 'GothamPro';
    src: url('/fonts/GothamPro-Medium.woff');
    font-weight: 500;
}

@font-face {
    font-family: 'GothamPro';
    src: url('/fonts/GothamPro-Bold.woff');
    font-weight: 600;
}
html{
    overflow-x: hidden;
}

body{
    margin:0;
    padding: 0;
    font-family: 'GothamPro';
    overflow-x: hidden;
}


.container{
    max-width: 1190px;
    padding: 0 16px;
    position: relative;
}


.header{
    padding-right: 47px;
    position: relative;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(17.13deg, #101A2B 34.15%, #FFFFFF 94.99%);
    color: white;
    &__text{
        margin: 0;
        font-style: normal;
        font-weight: 200;
        font-size: 14px;
        line-height: 100%;
        margin-bottom:15px;
    }
    &__title{
        font-weight: 600;
        font-size: 48px;
        margin: 0;
        line-height: 46px;
        margin-bottom: 11px;
    }
    &__subtitle{
        margin: 0;
        font-weight: 400;
        font-size: 24px;
        line-height: 100%;
        padding-bottom: 75px;
    }
}





.menu{
    display: flex;
    position: absolute;
    right: 16px;
    margin: 0;
    padding: 0;
    top: 25px;
}

.icon{
    list-style: none;
    background-size: cover;
    background-repeat: no-repeat;
    &:not(:last-child){
        margin-right: 20px;
    }
    &:nth-child(1){
        background-image: url('/img//va.png');
        width: 31px;
        height: 31px;
    }
    &:nth-child(2){
        background-image: url('/img/telg.png');
        width: 31px;
        height: auto;
    }
    &:nth-child(3){
        background-image: url('/img/inst.png');
        width: 31px;
        height: 31px;
    }
}

.back-text{
    position: absolute;
    font-family: "Gotham Pro";
    width: 55px;
    word-break: break-all;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 50px;
    text-align: center;
    top: 83.4px;
    right: 16px;
    
    
    color: rgba(209, 210, 212, 0.20);
}

.photo{
    width: 289px;
    height: 289px;
    position: relative;
    border-radius: 50%;
    padding-top: 86px;
    margin-bottom: 25px;
   img{
       width: 270px;
       height: auto;
   }

}

.get-started{
    background: #FBFBFB;
    padding-top: 37px;
    padding-bottom: 56px;
    &__title{
        font-size: 22px;
        line-height: 117.74%;
        text-align: center;
        text-transform: uppercase;
        margin: 0;
        
        margin-bottom: 34px;
    }
    &-column{
        display: flex;  
        align-items: center;
        position: relative;
        width: 100%;
        
        &__number{
            font-size: 64px;
            text-align: center;
            color: #07b1045f;
            margin-right: 10px;
        }
        &__title{
            width: 220px;
            height: 42px;
            margin: 0;
            word-break: break-all;
            text-transform: uppercase;
        }
        &__icon{
            position: absolute;
            right: 10px;
        }
    }
    &__text{
        display: inline-block;
        font-weight: 400;
        font-size: 14px;
        line-height: 160.74%;
        padding-top: 10px;
        padding-left: 12px;
    }
    &-item{
        margin-top: 60px;
        &:nth-child(2){
            margin-top: 0 !important;
        }
        
    }
}


.leader{  
    padding-top: 52px;  
    &__text{
        text-align: center;
        font-weight: normal;
        font-size: 24px;
        line-height: 100%;
        margin: 0;
        margin-bottom: 40px;
    }
    &-content__text{
        font-weight: normal;
        font-size: 16px;
        line-height: 165%;
        display: inline-block;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 36px;
    }
    &-column{
        display: flex;  
        align-items: center;
        width: 100%;
        justify-content: center;
        margin-bottom: 17px;
    }
    img{
        width: 110px;
        height: 110px;
    }
    &-price{
        display: flex;
        &-item{
            padding-left: 5px;
        }
        &_kg{
            margin-top: 22px;
            margin-bottom: 5px;
            text-transform: uppercase;
        }
        &__text{
            margin: 0;
            font-size: 25px;
            // padding-bottom: 10px;
            transform: translateY(-12px);
        }
    }
}

.leader-price__nubmer{
    display: inline-block;
    height: 80px;
    font-size: 72px;
    margin: 0;
}

.joing{
    // transform: skewY(-20deg);
    border: 1px solid;
    overflow: hidden;
    transform: translateX(-1.5px);
    height: 550.63px;
    color: white;
    margin-bottom: 29px;
    width: 100%;
    position: relative;
   
    &-perpective{
        // transform: skewY(20deg);
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url('/img/img_joing.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
    &-wrap{
        display: flex;
        flex-direction: column;
        align-items: center;

        &__title{
            font-size: 24px;
            line-height: 109.5%;
            text-align: center;
            margin: 0;
            margin-bottom: 21px;
        }
        &__text{
            align-items: center;
            display: inline-block;
            font-size: 14px;
            width: 207px;
            line-height: 13px;
            text-align: center;
            margin: 0 auto;
            margin-bottom: 44px;
        }
        &__button{
            display: block;
            padding: 10px 25px;
            border-radius: 5px;
            border: none;
            background-color: white;
            &:focus{
                outline: none;
                background-color: #ccc;
            }

        }
    }
}

.about{
    display: flex;
    align-items: center;
    flex-direction: column;
    &__title{
        text-transform: uppercase;
        text-align: center;
        font-weight: normal;
        font-size: 28px;
        position: relative;
        line-height: 23px;
        margin: 0;
        margin-bottom: 15px;
    }
    hr{
        width: 50%;
        display: inline-block;
        margin: 0;
    }
    &__subtitle{
        padding-top: 30px;
        padding-bottom: 48px;
        text-align: center;
        display: inline-block;
        font-weight: 600;
        font-size: 18px;
    }
    &__text{
        margin-bottom: 58px;
        line-height: 178.7%;
    }
}

.scope{
    background: #FBFBFB;
    padding-top: 32px;
    padding-bottom: 54px;
    &__title{
        text-align: center;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        margin: 0;
        margin-bottom: 58px;    
    }
    &-cards{
        margin: 0 auto;
        width: min-content;
    }
    &-card{
        width: 320px;
        height: 305px;
        background-color: white;
        display: flex;
        align-items: center;
        
        flex-direction: column;
        padding: 17px 10px 27px;
        border-radius: 12px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        &:not(:last-child){
            margin-bottom: 43px;
            justify-content: center;
        }
        &:last-child{
            margin-bottom: 38px;
        }
        &__title{
            font-size: 18px;
            line-height: 17px;
            text-align: center;
        }
        &__text{
            font-size: 14px;
            line-height: 179.7%;
            
        }
        &__icon{
            width: 73px;
            height: 73px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 8px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            margin-bottom: 20px;
        }
    }
    &-button{
        width: 191px;   
        height: 45px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        border: none;
        display: flex;
        align-items: center;
        margin: 0 auto;
        background: #FFFFFF;
        padding: 13px 28px;
        &:focus{
            outline: none;
            
        }
    }
}

.footer{
    padding-top: 38px;
    padding-bottom:19px;
    &__title{
        text-align: center;
        font-size: 24px;
        margin: 0;
        margin-bottom: 30px;
    }
    &-networks{
        display: flex;
        padding: 0;
        justify-content: space-around;
        width: 50%;
        margin: 30px auto;
    }
    &-item{
        display: flex;
        align-items: center;
        color: #000;
        p{
            margin: 0;
            color: inherit;
        }
        &:nth-child(2){
            margin-bottom: 21px;
        }
        &__link{
            vertical-align: middle;
            margin-left: 5px;
            text-decoration: none;
            color: rgb(93, 137, 248);

        }
    }
}

.copyright{
    text-align: center;
    color: #797979;
    font-size: 12px;
}

.application{
    width: 100%;
    height: 100vh;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('/img/горы\ 1.png');
    background-repeat: no-repeat;
    background-size: cover;
    &-wrap{
        padding: 19px 21px 30px;
        background: rgba(181, 232, 232, 0.4);
        border-radius: 10px;
        width: 85%;
        margin: 0 auto;
       
    }
    &__title{
        text-align: center;
        font-size: 24px;
        color: white;
        margin-bottom: 27px;
        margin-top: 0;
    }
    &__input{
        border-radius: 5px;
        padding: 12px 9px;
        height: 31px;
        width: 214px;
        font-size: 18px;
        &:last-child{
            margin-bottom: 31px;
        }
        &:not(:last-child){
            margin-bottom: 17px;
        }
    }

    &__button{
        display: block;
        margin: 0 auto;
        padding: 10px 30px;
        border-radius: 5px;  
        border: none;
        background-color: white;
    }
    

}

